<nb-layout-header fixed>
  <div class="header-wrapper">
    <div class="header-container">
      <div style="cursor: pointer;" [routerLink]="['login']">
        <h1>FacControl</h1>
      </div>
    </div>
    <div class="header-container">
      <div class="exit">
        <button ghost nbButton (click)="toggleTheme()">
          <nb-icon *ngIf="checked" icon="sun-outline"></nb-icon>
          <nb-icon *ngIf="!checked" icon="moon-outline"></nb-icon>
        </button>
        <div *ngIf="isLoggedIn">
          <button nbButton ghost class="bt-exit" (click)="sair()">
            <nb-icon icon="log-out-outline"></nb-icon>
            sair
          </button>
        </div>
      </div>
    </div>
  </div>
</nb-layout-header>
