@import "../../../../themes.scss";

h1 {
  margin: 0;
}

.icon-wrapper{
  min-width: 7.5vw;
}

.icon-header {
  margin: 0 5px;
  font-size: 2.1cqi;
  cursor: pointer;
}

.header-wrapper {
  display: flex !important;
  justify-content: space-between !important;
  width: 100%;

  .header-container {
    display: flex;
    align-items: center;
    width: auto;
  }
}

.title {
  font-size: 28px !important;
  line-height: 1;
  margin-bottom: -5px;
}


.bt-sidebar {
  cursor: pointer;
  margin-right: 5px;
}

.sidebar {
  display: block;
  position: fixed;
  bottom: 10px;
  margin: auto;
}

.exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bt-theme {
  padding: 0 !important;
}

.bt-exit {
  padding: 5px !important;
  display: flex;
}


@media screen and (max-width: 475px) {
  .title {
    font-size: 4.5cqi !important;
    line-height: 1;
  }
  .icon-wrapper{
    min-width: 20vw;
  }
  .icon-header {
    margin: 0 5px;
    font-size: 6cqi;
    cursor: pointer;
  }
}
