<nb-layout-header fixed>
  <div class="header-wrapper">
    <div class="header-container" style="cursor: pointer;" [routerLink]="['/']">
      <h1>Facção Control</h1>
    </div>
    <div class="header-container">
      <nb-toggle (checkedChange)="toggleTheme($event)" [(checked)]="checked">
        <nb-icon *ngIf="checked" icon="moon-outline"></nb-icon>
        <nb-icon *ngIf="!checked" icon="sun-outline"></nb-icon>
      </nb-toggle>
    </div>
    <!-- <nb-search type="rotate-layout"></nb-search> -->
  </div>
</nb-layout-header>
