<nb-layout-header fixed>
  <div class="header-wrapper">
    <div class="header-container">
      <nb-icon *ngIf="showIcon" (click)="toggleSidebar()" style="margin: 0 10px; font-size: 25px; cursor: pointer;" icon="menu-outline"
        aria-label="menu">
      </nb-icon>
      <nb-icon *ngIf="showIcon" [routerLink]="['login']" style="margin: 0 10px; font-size: 25px; cursor: pointer;" icon="home-outline"
        aria-label="home">
      </nb-icon>
      <div style="cursor: pointer;" [routerLink]="['login']">
        <h1 class="title">{{headerTitle}}</h1>
      </div>
    </div>
    <div class="header-container">
      <!-- <div *ngIf="adm && isLoggedIn">
        <nb-button-group (valueChange)="updateSingleSelectGroupValue($event)">
          <button nbButtonToggle [routerLink]="['auditor']" nbButton>Aud</button>
          <button nbButtonToggle [routerLink]="['pcp']" nbButton>PCP</button>
        </nb-button-group>
      </div> -->
      <div class="exit">
        <button ghost nbButton (click)="toggleTheme()">
          <nb-icon *ngIf="checked" icon="sun-outline"></nb-icon>
          <nb-icon *ngIf="!checked" icon="moon-outline"></nb-icon>
        </button>
        <div *ngIf="isLoggedIn">
          <button nbButton ghost class="bt-exit" (click)="sair()">
            sair
            <nb-icon icon="log-out-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</nb-layout-header>
