@import "../../../../themes.scss";

::ng-deep nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding-top: 25px;
  padding-bottom: -10px;
}

.card-wrapper {
  margin-top: 30px;
}

.titulo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.header {
  height: fit-content;
  margin-bottom: 7px;
  display: flex;
  justify-content: flex-end;
}

.export-wrapper {
  position: absolute;
  top: 10.5em;
  left: 2.2em;
  z-index: 1;
}

.bt-excel {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 0.167em;
  margin-right: 0.167em;
  margin-bottom: 0.333em;
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.88em;
  line-height: 1.6em;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="rgba(230, 230, 230, 0.1)", EndColorStr="rgba(0, 0, 0, 0.1)");
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  outline: none;
  text-overflow: ellipsis;
}
.bt-excel:hover {
  border: 1px solid #666;
  background-color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(153, 153, 153, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.bt-voltar:hover {
  background-color: #b3b3b3;
}

.titulo-wrapper {
  position: absolute;
  text-align: center;
  width: calc(100% - 200px);
  left: 100px;
}

.tableFixHead {
  overflow: auto;
  width: fit-content;
  margin-top: 25px;
  height: 850px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: nb-theme(color-tb-header-bg);
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border: 1px solid nb-theme(color-tb-even-bg);

  thead {
    background-color: nb-theme(color-tb-header-bg);
    height: auto;
  }
  th {
    padding-block: 5px;
    padding-left: 10px;
    font-size: .85em;
    line-height: 1.5;
  }

  td {
    height: auto;
    font-size: .75em;
    line-height: 1.5;
    padding-block: 5px;
  }

  .img-hover a {
    cursor: default;
    text-decoration: none;
    position: relative;
  }

  .img-hover a span {
    position: absolute;
    display: none;
    z-index: 99;
    top: -20px;
    right: 60px;
  }

  .img-hover a:hover span {
    display: block;

    img {
      border: 1px solid #dddddd;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
    }
  }

  .atraso {
    font-weight: 600;
    color: nb-theme(color-danger-600);
  }

  .andamento {
    font-weight: 600;
    color: nb-theme(color-success-700);
  }

  .even {
    background-color: nb-theme(color-tb-even-bg);
  }

  .link-desc {
    cursor: pointer;
    font-weight: 600;
  }

}

.hiden-fild {
  display: none;
}


@media screen and (max-width: 475px) {
  .titulo {
    font-size: 25px;
  }

  .img-hover a span {
    position: absolute;
    display: none;
    z-index: 99;
    bottom: 20px;
    right: 40px;
  }

}

@media screen and (max-height: 649px) {
  .tableFixHead {
    height: 550px;
  }
}
