<div class="back-button">
  <div class="titulo-wrapper">
    <h3>{{ tituloLocal }}</h3>
  </div>
  <div class="bt-voltar-wrapper">
    <button nbButton outline status="primary" size="small" class="bt-voltar" (click)="voltar()">
      Voltar
    </button>
  </div>
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Cód</th>
      <th>Coordenado</th>
      <th>Peças</th>
      <th>Previsão Retorno</th>
      <th>Dias na Facção</th>
      <th>Motivo Alteração</th>
      <th>Nova Previsão</th>
    </tr>
  </thead>
  <tbody *ngIf="!emptyList">
    <tr *ngFor="let item of listOPs$ | async">
      <td>{{ item.NR_CICLO + '-' + item.NR_OP + '-' + item.CD_REFERENCIA }}</td>
      <td class="img-hover">
        <a>
          <span><img [src]="imgUrl + item.CD_REFERENCIA.toString() +
            '/' + item.CD_REFERENCIA.toString() + '-1.jpg'" alt="image" height="200"
              onerror="this.onerror=null;this.src='../../../../assets/not-found.png'" /></span>
          {{ item.DS_COORDENADO }}</a>
      </td>
      <td>{{ item.QT_OP }}</td>
      <td ngClass="{{item.css_class}}">
        <span style="display: none;">{{ item.PREV_RETORNO | date: "yyyy-MM-dd" }}</span>
        {{item.PREV_RETORNO | date: "dd/MM/yyyy" }}
      </td>
      <td>{{ item.dias_faccao }}</td>
      <td>{{ item.motivo_atraso }}</td>
      <td>{{ item.nova_previsao }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="emptyList">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table>
