nb-card {
  cursor: pointer;
  width: 350px;
  margin: 10px;
}

nb-card-header {
  text-align: center;
}

nb-card-body {
  text-align: center;
  padding: 0;
}

nb-card-footer {
  text-align: center;
  font-weight: 600;
}
nb-card-footer:hover {
  background-color: rgba(112, 128, 144, 0.5);
}

.c-body {
  display: flex;
  flex-direction: column;
}

.total-op {
  width: 100%;
  p {
    margin: 35px 0 15px;
    padding: 0;
    font-size: 42px;
    font-weight: 600;
  }
  margin-bottom: 10px;
}

.desc-op {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 12px;
  }
}

@media screen and (max-width: 475px) {
  nb-card {
    width: 300px;
  }
}
