@import "../../../../themes.scss";

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-wrapper {
  margin: 0 15px 15px;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 5px;

  .filter-title {
    font-weight: 600;
    margin-top: -20px;
    background-color: nb-theme(color-hero-button-custom);
    width: max-content;
    padding: 0 3px;
  }

  .filter-menu-wrapper {
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: flex-end;
    // margin-bottom: 15px !important;
  }

  .filtro-dropdown {
    margin-right: 15px;
    // margin-bottom: 10px;
  }
}
::ng-deep nb-select {
  width: 275px;
}

@media screen and (max-width: 475px) {
  .filter-wrapper {
    margin-bottom: 10px;
  }
}
