<nb-layout>
  <nb-layout-column>
    <div *ngIf="listOPsDisponiveis.length < 1; else allOPs">
      <div class="cards-wrapper">
        <div *ngFor="let i of color">
          <fc-card [loading]="true" [title]="'...'" [qnt_ops]="0" [c_status]="i" [qnt_atraso]="0" [show_desc]="true">
          </fc-card>
        </div>
      </div>
    </div>

    <!-- filter component -->
    <ng-template #allOPs>
      <div class="filter-wrapper">
        <h6 class="filter-title">Filtros</h6>
        <div class="filter-menu-wrapper">
          <div class="filter-dropdown">
            <nb-form-field>
              <input type="text" id="filtro-op" #filtro nbInput (keyup)="filtroFaccao($event)"
                placeholder="Filtrar facção">
              <button *ngIf="filtroAtivo" nbPrefix nbButton ghost (click)="limpaFiltro(filtro)">
                <nb-icon icon="close-square-outline" aria-label="pesquisar">
                </nb-icon>
              </button>
              <button nbSuffix nbButton ghost>
                <nb-icon icon="search-outline" aria-label="pesquisar">
                </nb-icon>
              </button>
            </nb-form-field>
          </div>
        </div>
      </div>
    </ng-template>

    <div *ngIf="!emptyList; else listaVazia">
      <cdk-virtual-scroll-viewport [itemSize]="10" class="list-viewport">
        <div class="cards-wrapper">
          <div *cdkVirtualFor="let item of faccaoList$ | async">
            <fc-card [headerColor]="'header-color'" [show_desc]="show_desc" [title]="item.name"
              [text_desc]="'Qnt. peças'" [qnt_ops]="item.qnt" [c_status]="''" [qnt_atraso]="item.qnt_pecas!"
              [per_atraso]="item.per_atraso!" [routerLink]="['/motorista/descricao/', item.id]">
            </fc-card>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <ng-template #listaVazia>
      <h4 style="text-align: center;">Nenhum item encontrado..</h4>
    </ng-template>

  </nb-layout-column>
</nb-layout>
