<nb-layout>
  <nb-layout-header fixed>
    <fc-header (toggleSidebar)="toggle"></fc-header>
  </nb-layout-header>
  <nb-sidebar fixed state="collapsed" autoCollapse>
    <nb-card>
      <nb-menu (click)="toggle($event)" [items]="items">
      </nb-menu>
      <!-- <a ngClass="bt-info" target="_blank"
        href="https://www.notion.so/6b35964de921451eb3a274281a605a0c?v=04306a31a6af4054b3d0deed61c27cc0" nbButton>
        <nb-icon icon="file-text-outline"></nb-icon>
        Atualizações
      </a> -->
    </nb-card>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
