<nb-card [nbSpinner]="loading">
  <nb-card-header>
    <div *ngIf="!apontamento, else apontamentoHeader">
      <h3>Nova previsão de {{tipo}}</h3>
    </div>
    <ng-template #apontamentoHeader>
      <h3>{{tipo}}</h3>
    </ng-template>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="dialogForm">
      <div class="body-wrapper" *ngIf="!apontamento, else apontamentoBody">
        <input inputmode="none" autocomplete="off" style="text-align: center;" nbInput formControlName="dtControl"
          id="dateInput" [nbDatepicker]="datepicker" placeholder="Nova data" [value]="prev ">
        <nb-datepicker #datepicker format="dd/MM/yyyy" [min]="min"></nb-datepicker>
        <br>
        <nb-select placeholder="Motivo da alteração" formControlName="motivoControl" *ngIf="tipo == 'Atraso'">
          <nb-option value="">Selecionar</nb-option>
          <nb-option *ngFor="let motivo of motivosAtraso | keyvalue; let i = index" [value]="i">{{ motivo.value }}
          </nb-option>
        </nb-select>
      </div>
      <ng-template #apontamentoBody>
        <div class="body-wrapper">
          <nb-select placeholder="Apontamento" formControlName="situacaoControl" [(selected)]="selected">
            <nb-option value="">Selecionar</nb-option>
            <nb-option *ngFor="let situacao of situacaoList; let i = index" [value]="i">{{ situacao }}</nb-option>
          </nb-select>
          <div *ngIf="situacaoList[selected] == '04 - Parado'" class="motivo-parado">
            <nb-select placeholder="Apontamento" formControlName="motivoParadoControl" [(selected)]="selectedParado">
              <nb-option *ngFor="let motivo of paradoList | keyvalue; let i = index" [value]="i">{{ motivo.value }}</nb-option>
            </nb-select>
          </div>
        </div>
      </ng-template>
    </form>
    <div *ngIf="err" style="text-align: center;">
      <span style="color: red; font-size: 9px;">Data inserida incorreta ou campos em branco!</span>
    </div>
    <div *ngIf="!!prev && !apontamento" class="data-inserida-wrapper">
      <span class="data-inserida">Última data inserida: {{ prev }}
        <div class="bt-remover">
          <nb-icon (click)="remove()" icon="close-square-outline"></nb-icon>
        </div>
      </span>
      <span style="font-size: 12px;">Motivo inserido: {{i_motivo}}</span>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" (click)="cancel()">Cancelar</button>
    <button nbButton status="success" (click)="submit()">Enviar</button>
  </nb-card-footer>
</nb-card>
