<nb-card>
  <nb-card-header>
    <h3>Nova previsão</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="dialogForm">
      <div class="body-wrapper">
        <input nbInput formControlName="dtControl" [nbDatepicker]="datepicker" placeholder="Nova data">
        <nb-datepicker #datepicker [min]="min"></nb-datepicker>
        <div *ngIf="!!prev" class="data-inserida-wrapper">
          <span class="data-inserida">Última data inserida: {{prev}}
            <div class="bt-remover">
              <nb-icon (click)="remove()" icon="close-square-outline"></nb-icon>
            </div>
          </span>
        </div>
        <br>
        <nb-select placeholder="Motivo da alteração" formControlName="motivoControl" required>
          <nb-option value="">Selecionar</nb-option>
          <nb-option *ngFor="let motivo of motivos; let i = index" [value]="i">{{ motivo }}</nb-option>
        </nb-select>
      </div>
    </form>
    <div *ngIf="err" style="text-align: center;">
      <span style="color: red; font-size: 9px;">Todos os campos são obrigatórios!</span>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" (click)="cancel()">Cancelar</button>
    <button nbButton status="success" (click)="submit()">Enviar</button>
  </nb-card-footer>
</nb-card>
