@import "../../../../themes.scss";

.titulo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid nb-theme(color-tb-even-bg);

  thead {
    background-color: nb-theme(color-tb-header-bg);
    height: 32px;
  }

  td {
    height: 28px;
  }

  .even {
    background-color: nb-theme(color-tb-even-bg);
  }

  .link-desc {
    cursor: pointer;
    font-weight: 600;
  }

}

@media screen and (max-width: 475px) {
  .titulo {
    font-size: 25px;
  }

}
