@import "../../../../themes.scss";

nb-card {
  max-height: 362px;
  position: relative;
}

nb-card-header {
  padding: 1em 3em 0;
}

.bt-fechar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 1em 0 0;
  cursor: pointer;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid nb-theme(color-tb-even-bg);

  thead {
    background-color: nb-theme(color-tb-header-bg);
    height: 32px;
    font-size: .8em;
  }
  th {
    padding: 5px;
  }
  td {
    font-size: .7em;
    padding: 3px;
    border: 1px solid nb-theme(color-tb-even-bg);
  }
  .even {
    background-color: nb-theme(color-tb-even-bg);
  }
}

h5 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  nb-card-header {
    padding: 8px 8px 0;
  }
  nb-card-body {
    overflow: auto;
    padding: 3px 5px;
  }
  table {
    thead {
      height: auto;
    }
    th {
      padding: 3px;
      line-height: 1.5;
    }
    td {
      line-height: 1.5;
    }
  }
}

@media screen and (max-width: 360px) {
	nb-card-body {
		max-width: 320px;
	}
}
