<div class="body-wrapper">
  <div class="historico">
    <nb-icon class="icon-header" icon="book-open-outline"
      aria-label="historico">
    </nb-icon>
    <a href="pcp/hist_pendencias">Histórico</a>
  </div>
  <div class="table-wrapper">
    <table class="rwd-table">
      <tr>
        <th>Cód. OP</th>
        <th>Classificação</th>
        <th>Matéria Prima</th>
        <th>Qtd. Solicitada</th>
        <th>Usuário Solicitante</th>
        <th>Data Solicitação</th>
        <th>Status</th>
        <th>Observações</th>
      </tr>
      <ng-container *ngFor="let pendencia of minhasPendencias$ | async">
        <tr>
          <td data-th="Cód. OP">{{pendencia.NR_CICLO+"-"+pendencia.NR_OP+"-"+pendencia.CD_REFERENCIA}}</td>
          <td data-th="Classificação">{{pendencia.DS_CLASSIFICACAO }}</td>
          <td data-th="Matéria Prima">{{pendencia.CD_PRODUTO_MP+" - "+pendencia.DS_PRODUTO_MP }}</td>
          <td data-th="Qtd. Solicitada">{{pendencia.QT_SOLICITADO }}</td>
          <td data-th="Usuário Solicitante">{{ pendencia.USUARIO }}</td>
          <td data-th="Data Solicitação">{{pendencia.DT_SOLICITACAO }}</td>
          <td data-th="Status">
            <select (change)="alterarStatus($event, pendencia)" class="select-status" [ngClass]="pendencia.STATUS"
              name="status" [selectedIndex]="">
              <option *ngFor="let sPendencia of statusPendencia" [selected]="pendencia.STATUS == sPendencia"
                [value]="sPendencia+'_'+pendencia.CD_PENDENCIA">
                {{sPendencia}}
              </option>
            </select>
          </td>
          <td data-th="Observações">{{pendencia.Obs }}</td>
          <hr>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
