<nb-layout>
  <nb-layout-column>
    <div *ngIf="_loadingService.isLoading | async">
      <div class="card-wrapper">
        <div *ngFor="let i of color">
          <fc-card [loading]="true" [title]="'...'" [qnt_ops]="0" [qnt_atraso]="0" [c_status]="i" [show_desc]="true" >
          </fc-card>
        </div>
      </div>
    </div>

    <div *ngIf="!emptyList; else listaVazia">
      <div class="card-wrapper">
        <div *ngFor="let item of OpList$ | async">
          <fc-card [loading]="false" [title]="item.name" [qnt_ops]="item.qnt" [c_status]="item.color!"
            [routerLink]="['/pcp/descricao/', item.name]">
          </fc-card>
        </div>
      </div>
    </div>

    <ng-template #listaVazia>
      Lista vazia
    </ng-template>

  </nb-layout-column>
</nb-layout>
