@import "../../../../themes.scss";

nb-layout-column {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0);
}

.h4 {
  font-size: 1rem;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
}

.h6 {
  font-size: 1.125rem;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
}

.filtro-wrapper {
  margin-top: 30px;

  .filtro-menu-wrapper {
    margin-right: 2.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .filtro-dropdown {
    margin-right: 15px;
  }
}

.hint-wrapper {
  margin-right: calc(2.5em + 15px);
  display: flex;
  justify-content: flex-end;
  color: nb-theme(text-basic-color);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: nb-theme(color-hero-button-custom);
}

// ::ng-deep .mat-form-field-infix{
//   background-color: nb-theme(color-hero-button-custom);
// }
::ng-deep .mat-form-field-ripple {
  background-color: nb-theme(text-basic-color);
}

::ng-deep .mat-form-field-type-mat-select .mat-form-field-label,
.mat-select-value {
  color: nb-theme(text-basic-color) !important;
}

::ng-deep .mat-select-value {
  color: nb-theme(text-basic-color) !important;
  ;
}

::ng-deep .filtro-menu.mat-select-panel {
  border: 0;
  background-color: nb-theme(color-hero-button-custom2);
}

::ng-deep .mat-option {
  color: nb-theme(text-basic-color) !important;
}

.apontamento-wrapper {
  text-align: center;
  nb-card-header {
    margin: 0;
    padding: 3px;
    h4 {
      color: nb-theme(text-basic-color);
      font-weight: 500;
    }
  }
}

nb-alert {
  height: 25px;
  font-size: 13px;
  padding: 2px 10px;
  display: inline-block;
  margin: 0;
  margin-right: 5px;
}

.tipo-title-header {
  text-align: center;
  min-width: 130px;
}

.tipo-title-body {
  text-align: center;
  // min-width: 120px;
  width: 40%;
}

.card-wrapper {
  padding: 10px 0 0;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

// .status-wrapper {
//   justify-content: space-evenly;
// }

.tipo-wrapper {
  width: 425px;
  // height: 1000px;

  .header-tipo {
    display: flex;
    justify-content: space-evenly;
  }

  nb-card-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .body-tipo-wrapper {
    cursor: pointer;
    margin-top: 10px !important;

    .body-tipo {
      display: flex;
      justify-content: space-around;
    }

    .body-tipo-desc {
      // min-width: 35px;
      width: 30%;
      text-align: center;
    }
  }

  hr {
    margin: 0;
  }
}

.cards {
  margin: 10px;
}

.total-wrapper {
  display: flex;
  justify-content: space-around;

  .total-value {
    text-align: center;
  }
}

.filter-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 25px;
}

@media screen and (max-width: 475px) {
  .filter-wrapper {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .filtro-menu-wrapper {
    flex-direction: column;
    margin-right: 0 !important;
  }

  .filtro-dropdown {
    margin-right: 0 !important;
  }

  .hint-wrapper {
    margin-right: 0 !important;
    justify-content: center;
  }

  span {
    text-align: center;
    width: 250px;
    font-size: 12px;
  }

  .apontamento-alert {
    display: flex;
    justify-content: space-evenly;
    align-items: inherit;
    flex-direction: column;

    nb-alert{
      margin: 2px;
    }
  }

}
