<nb-layout>
  <nb-layout-column>

    <!-- <div class="bt-wrapper">
      <div class="bt-menu-wrapper">
        <button class="bt-menu" nbButton [matMenuTriggerFor]="menuO">Origem<nb-icon
            icon="arrow-ios-downward-outline"></nb-icon></button>
        <mat-menu #menuO="matMenu">
          <ng-container *ngFor="let origem of menuOrigem">
            <button mat-menu-item>{{origem}}</button>
          </ng-container>
        </mat-menu>
        <button class="bt-menu" nbButton [matMenuTriggerFor]="menuC">Coleção<nb-icon
            icon="arrow-ios-downward-outline"></nb-icon></button>
        <mat-menu #menuC="matMenu">
          <ng-container *ngFor="let colecao of menuColecao">
            <button style="width: 450px" mat-menu-item>{{colecao}}</button>
          </ng-container>
        </mat-menu>
      </div>
    </div> -->

    <div *ngIf="_loadingService.isLoading | async">
      <div class="card-wrapper">
        <div *ngFor="let i of color">
          <fc-card [loading]="true" [title]="'...'" [qnt_ops]="0" [qnt_atraso]="'0'" [c_status]="i" [show_desc]="false">
          </fc-card>
        </div>
      </div>
    </div>
    <div class="card-wrapper status-wrapper">
      <div *ngFor="let item of OpList$ | async">
        <fc-card [loading]="false" [title]="item.name" [text_desc]="'Qnt. peças'" [qnt_atraso]="item.qnt_pecas!"
          [qnt_ops]="item.qnt" [c_status]="item.color!" [show_desc]="true"
          [routerLink]="['/pcp/descricao/', item.name]">
        </fc-card>
      </div>
    </div>

    <!-- <hr>

    <div class="card-wrapper">
      <nb-card class="cards tipo-wrapper" [ngClass]="item.status!" [accent]="item.colorAccent!"
        *ngFor="let item of statusTipo$ | async">
        <nb-card-header>{{ item.status }}</nb-card-header>
        <div class="tipo-body" *ngFor="let i of item.tipo">
          <nb-card-header style="cursor: pointer;" [routerLink]="['/pcp/descricao', i.status, i.name]">{{ i.name }}
          </nb-card-header>
          <nb-card-body>
            <div class="total-value">
              <div class="total-title">
                Total OP's:
              </div>
              <div class="h6">
                {{i.qnt}}
              </div>
            </div>
            <div class="total-value">
              <div class="total-title">
                Total Peças:
              </div>
              <div class="h6">
                {{i.qnt_pecas | number: '1.0'}}
              </div>
            </div>
          </nb-card-body>
          <hr>
        </div>
      </nb-card>
    </div> -->

  </nb-layout-column>
</nb-layout>
