@forward '@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(( // add your variables here like:
      logo-img: url('/assets/logo_branca.png'),
      color-hero-button-custom: #222B45,
      color-hero-button-custom2: #222B45,
      color-tb-header-bg: #131324,
      color-tb-even-bg: #101024,
      color-primary-900: #091c7a,
      color-danger-new: #fa767b,
      color-success-new: #00b887,
      color-warning-new: #f3b73e), dark, dark);

$nb-themes: nb-register-theme(( // add your variables here like:
      logo-img: url('/assets/Logo_preto.png'),
      color-hero-button-custom: #e4e9f2,
      color-hero-button-custom2: #f7f9fc,
      color-tb-header-bg: #9f9faf,
      color-tb-even-bg: #d9d9d9,
      color-primary-900: #3e2494,
      color-danger-new: #db2c66,
      color-success-new: #087f23,
      color-warning-new: #f3b73e,
    ), default, default);
